<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.kenevans.vtk.preferences.VTKPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.kenevans.vtk.preferences.VTKPreferencePage"
            id="org.vtk.preferencePage"
            name="VTK">
      </page>
   </extension>

</plugin>
